body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71290e; /* Cor de fundo base */
}

header {
    background-color: #165a05; /* verde */
    color: #bc1717;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #289f00;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #5c4426; /* verde */
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}
